@import "tailwindcss";

@theme {
    --font-sans: "IBM Plex Sans", sans-serif;
    --font-serif: "IBM Plex Serif", serif;
    --font-mono: "IBM Plex Mono", monospace;
}

::selection {
    background-color: oklch(70.5% 0.015 286.067);
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    ::selection {
        background-color: oklch(44.2% 0.017 285.786);
    }
}
