---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="">
        <!-- Hero Section -->
        <section
            id="hero"
            class="flex flex-col justify-between items-center text-center h-screen"
        >
            <div class="mb-auto mt-auto">
                <h1 class="text-8xl font-bold mb-4">Caleb O'Neal</h1>
                <h3 class="text-lg">student</h3>
            </div>
            <a
                href="#content"
                class="mb-4 px-6 font-bold py-3 bg-white/30 bg-blur-md rounded-lg text-white"
            >
                Scroll
            </a>
        </section>
        <hr class="mx-8" />
        <section id="content">
            <p>Here's some text</p>
        </section>
    </main>
</Layout>
