---
import GitHub from "../assets/logos/github.svg";
---

<div id="advent-of-code" class="border border-zinc-400 rounded-md m-2 p-4">
    <h3 class="inline-flex align-middle font-bold text-xl">
        Advent of Code <a
            href="https://github.com/caleboneal07/advent-of-code"
            target="_blank"
            ><GitHub width={24} height={24} class="pl-2 m-1" /></a
        >
    </h3>
    <hr class="my-3" />
    <p class="indent-8">
        <a class="underline" href="https://adventofcode.com/" target="_blank"
            >Advent of Code</a
        > is an annual coding event that takes place every December. Each day, a new
        programming puzzle is released, and participants can solve these puzzles using
        any programming language of their choice. Each year I choose a new programming
        language to solve the puzzles with. The challenge consists of 25 puzzles for
        2015-2024 and 12 puzzles for 2025, with each puzzle having two parts.
    </p>
    <hr class="my-3" />
    <table class="table-auto text-center items-center w-full m-4">
        <tr class="">
            <th class="">Year</th>
            <th>Language</th>
            <th>Progress</th>
        </tr>
        <tr class="text-blue-400">
            <td>2015</td>
            <td>TypeScript</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-blue-400"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-blue-400"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-indigo-400">
            <td>2016</td>
            <td>Ruby</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-violet-400">
            <td>2017</td>
            <td>Julia</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-purple-400">
            <td>2018</td>
            <td>Swift</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-fuchsia-400">
            <td>2019</td>
            <td>Haskell</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-pink-400">
            <td>2020</td>
            <td>C++</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-rose-400">
            <td>2021</td>
            <td>Scala</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-red-400">
            <td>2022</td>
            <td>Rust</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-red-400"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-red-400"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-red-400"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-red-400"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-red-400"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-red-400"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-orange-400">
            <td>2023</td>
            <td>Go</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-orange-400"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-amber-400">
            <td>2024</td>
            <td>Zig</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-yellow-400">
            <td>2025</td>
            <td>C</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-lime-400">
            <td>2026</td>
            <td>Elixir</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-green-400">
            <td>2027</td>
            <td>OCaml</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-emerald-400">
            <td>2028</td>
            <td>Clojure</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-teal-400">
            <td>2029</td>
            <td>Odin</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-cyan-400">
            <td>2030</td>
            <td>F#</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
        <tr class="text-sky-400">
            <td>2031</td>
            <td>Idris</td>
            <td class="flex flex-row">
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
                <div class="w-4 h-4 m-1 rounded-sm bg-zinc-600"></div>
            </td>
        </tr>
    </table>
</div>
