---
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import MatrixBackground from "../components/MatrixBackground.astro";

// Fonts
import "@fontsource/ibm-plex-serif";
import "@fontsource-variable/ibm-plex-sans";
import "@fontsource/ibm-plex-mono";

import "../styles/theme.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Caleb O'Neal | Portfolio</title>
        <link rel="icon" type="image/svg" href="/favicon.svg" />
    </head>
    <body class="bg-zinc-200 dark:bg-zinc-900">
        <ThemeSwitcher />
        <MatrixBackground />
        <slot />
        <footer class="text-center pb-4">
            <p class="text-xs text-zinc-400 dark:text-zinc-700">
                Copywright © 2025 Caleb O'Neal
            </p>
        </footer>
    </body>
</html>
