---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio | Computer Engineering Student</title>
    </head>
    <body
        class="bg-gray-950 text-gray-400 min-h-screen flex flex-col font-sans no-scrollbar"
    >
        <slot />
        <footer class="py-6 text-center text-gray-500 text-sm">
            Copywright © 2025 Caleb O'Neal
        </footer>
    </body>
</html>
